/* CONTACTO*/

.contacto-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 120px;
  }
  
  .contact-image-div {
    position: relative;
  }
  
  .contact-image {
    width: 100%;
    object-fit: contain;
  }
  
  .contact-text {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 30%;
    height: 100%;
    background: linear-gradient(to right, #012C3D, #012c3d00);
    font-size: 2.1rem;
    font-weight: 600;
    color: #F7F8F3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 40px;
    padding-top: 200px;
    text-shadow: 1px 2px 5px #012C3D;
  }
  
  .contact-info-container {
    margin-top: 15px;
    display: flex;
  }
  
  .column {
    width: 50%;
    padding: 10px;
  }
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .row img {
    width: 28px;
  }
  
  .row h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 15px;
  }
  
  /* Formulario de Contacto*/
  
  
  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .contact-form label {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 20px;
  }
  
  .contact-form input {
    height: 43px;
    width: 100%;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    border: 1px solid rgba(0,0,0,0.3);
  }
  
  .contact-form textarea {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    border: 1px solid rgba(0,0,0,0.3);
  }
  
  .contact-form input:focus, textarea:focus{
    outline: .5px solid #012c3d85;
  }
  
  .form-button {
    height: 34px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2px 4rem;
    float: right;
    background-color: #012C3D;
    color: #F7F8F3;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 5px #012C3D;
    
  }
  
  .form-button:hover {
    background-color: #012c3dde;
  }
  
  .submitted-container {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #012C3D;
    background-color: #F7F8F3;
    border-radius: 8px;
    
  }
  
  .submitted-text h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .submitted-text p {
    font-size: 1.8rem;
    font-weight: 500;
  }