@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');


/* ESTILOS GLOBALES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.5%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Montserrat', sans-serif;

}

body {
  background-color: #F7F8F3;
  color: #012C3D;
}



