.logo {
    max-width: 100px;
    display: flex;
    width: 100%;
    align-content: center;
    
  }
.navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}
.navItem {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 35px;
    cursor: pointer;
  }
  
  .navItem:hover {
    color: #012c3d73;
  }